.box-shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }100%{
     transform: rotate(360deg)
   }
}
@mixin spin{
  animation: 1s spin infinite linear;
}